<div class="calendar">
  <div class="calendar-nav">
    <div class="calendar-nav-previous-month">
      <button class="button is-text">
        <svg
          width="9"
          height="13"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 201.5 323.5"
          enable-background="new 0 0 201.5 323.5"
          xml:space="preserve"
        >
          <polygon
            fill="#CED3D2"
            points="195,302.6 174.3,322 3,162 174.3,2 195,21.3 44.5,162 "
          />
        </svg>
      </button>
    </div>
    <div class="month-title">July 2021</div>
    <div class="calendar-nav-next-month">
      <button class="button is-text">
        <svg
          width="9"
          height="13"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 201.5 323.5"
          enable-background="new 0 0 201.5 323.5"
          xml:space="preserve"
        >
          <polygon
            fill="#CED3D2"
            points="3,21.4 23.7,2 195,162 23.7,322 3,302.7 153.5,162 "
          />
        </svg>
      </button>
    </div>
  </div>
  <div class="calendar-container">
    <div class="calendar-body">
      <div class="calendar-date">
        <button class="date-item is-disabled">28</button>
      </div>
      <div class="calendar-date">
        <button class="date-item is-disabled">29</button>
      </div>
      <div class="calendar-date">
        <button class="date-item is-disabled">30</button>
      </div>
      <!-- <div class="calendar-date">
        <button *ngFor="let i of date" class="date-item">{{ i }}</button>
      </div> -->
      <div class="calendar-date"><button class="date-item">1</button></div>
      <div class="calendar-date"><button class="date-item">2</button></div>
      <div class="calendar-date"><button class="date-item">3</button></div>
      <div class="calendar-date tooltip" data-tooltip="Today">
        <button class="date-item is-today">4</button>
      </div>
      <div
        class="calendar-date tooltip"
        data-tooltip="Not available"
        disabled=""
      >
        <button class="date-item">5</button>
      </div>
      <div class="calendar-date"><button class="date-item">6</button></div>
      <div class="calendar-date"><button class="date-item">7</button></div>
      <div class="calendar-date tooltip" data-tooltip="You have appointments">
        <button class="date-item">8</button>
      </div>
      <div class="calendar-date"><button class="date-item">9</button></div>
      <div class="calendar-date"><button class="date-item">10</button></div>
      <div class="calendar-date"><button class="date-item">11</button></div>
      <div class="calendar-date"><button class="date-item">12</button></div>
      <div class="calendar-date"><button class="date-item">13</button></div>
      <div class="calendar-date"><button class="date-item">14</button></div>
      <div class="calendar-date"><button class="date-item">15</button></div>
      <div class="calendar-date calendar-range calendar-range-start">
        <button class="date-item is-active">16</button>
      </div>
      <div class="calendar-date calendar-range">
        <button class="date-item">17</button>
      </div>
      <div class="calendar-date calendar-range">
        <button class="date-item">18</button>
      </div>
      <div class="calendar-date calendar-range">
        <button class="date-item">19</button>
      </div>
      <div class="calendar-date calendar-range calendar-range-end">
        <button class="date-item is-active">20</button>
      </div>
      <div class="calendar-date"><button class="date-item">21</button></div>
      <div class="calendar-date"><button class="date-item">22</button></div>
      <div class="calendar-date"><button class="date-item">23</button></div>
      <div class="calendar-date"><button class="date-item">24</button></div>
      <div class="calendar-date"><button class="date-item">25</button></div>
      <div class="calendar-date"><button class="date-item">26</button></div>
      <div class="calendar-date"><button class="date-item">27</button></div>
      <div class="calendar-date"><button class="date-item">28</button></div>
      <div class="calendar-date"><button class="date-item">29</button></div>
      <div class="calendar-date"><button class="date-item">30</button></div>
      <div class="calendar-date"><button class="date-item">31</button></div>
      <div class="calendar-date">
        <button class="date-item is-disabled">1</button>
      </div>

      <div class="calendar-footer">
        <div class="calendar-date sunday">S</div>
        <div class="calendar-date">M</div>
        <div class="calendar-date">T</div>
        <div class="calendar-date">W</div>
        <div class="calendar-date">T</div>
        <div class="calendar-date">F</div>
        <div class="calendar-date saturday">S</div>
      </div>
    </div>
  </div>
</div>
